{% extends "base.html.twig"%}
    {% block header%}
    {% include "/Main/Header.html" %}
    {% endblock %}
{% block body%}
    {% for message in app.flashes('success') %}
        <div id="my-alert" class="alert alert-success alert-dismissible fade show" role="alert">
            {{ message }}
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
            <script>
                $(function(){
                    window.setTimeout(function(){
                        $('#my-alert').alert('close');
                    },4000);
                });
            </script>
        </div>
    {% endfor %}
{% endblock %}